.navbar-light .navbar-nav .nav-link:hover {
  color: #1ea4ee;
}
.fas {
  color: #174a73;
}
.nuestros {
  margin-top: 80px;
  opacity: 0;
}
.nuestros p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #636c73;
}
@media screen and (max-width: 978px) {
  .nuestros {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .nuestros p {
    font-size: 30px;
  }
}
.products {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.products .card {
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  text-align: center;
  width: 384px;
  height: 600px;
  color: rgba(0, 0, 0, 0.7);
}
.products .card .card-img {
  width: 100%;
  height: 284px;
}
.products .card h4 {
  margin: 5px 0;
  font-weight: bold;
}
.products .card p {
  text-align: justify;
  font-size: 20px;
  margin: 15px;
}
@media screen and (max-width: 978px) {
  .products {
    display: inline;
  }
  .products .card {
    margin: auto;
    width: 333px;
    margin-bottom: 40px;
  }
}
.blue-background {
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(38, 110, 166, 0.93)),
    to(#174a73)
  );
  background-image: linear-gradient(
    0deg,
    rgba(38, 110, 166, 0.93) 0%,
    #174a73 100%
  );
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.vertical-top {
  position: absolute;
  width: 101%;
  top: -1px;
  z-index: 2;
}
.vertical-bottom {
  position: absolute;
  bottom: -1px;
  width: 101%;
  z-index: 2;
}
.button-24 {
  background: #1ea4ee;
  border: 1px solid #1ea4ee;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 20px 22px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  vertical-align: middle;
}
.button-24:hover {
  background-color: white;
  background-position: 0 0;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.banner {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.4))
    ),
    url("../images/chemistry-croped-2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/chemistry-croped-2.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 150px 0;
  overflow: hidden;
  position: relative;
}
.banner .title {
  margin: 0;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}
.banner p {
  margin-top: 50px;
  font-size: 25px;
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 978px) {
  .banner .container {
    padding-top: 30px;
  }
  .banner .title {
    margin: 15px;
    font-size: 30px;
  }
  .banner p {
    margin: 15px;
    text-align: justify;
    font-size: 20px;
  }
}
.banner-vertical-bottom {
  position: absolute;
  bottom: -1px;
  width: 101%;
  z-index: 2;
}
.banner-msg {
  opacity: 0;
}
.industrias {
  margin-top: 150px;
  color: white;
  opacity: 0;
}
.industrias .title-ind {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.industrias .text {
  margin: 40px 15px;
  font-size: 25px;
}
.cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.card-blue {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#266da4),
    to(#215e8e)
  );
  background-image: linear-gradient(#266da4 0%, #215e8e 100%);
  text-align: center;
  width: 383px;
  height: 382px;
  margin: 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  border: none;
  color: white;
}
.card-blue .fas {
  padding-top: 50px;
  color: white;
  font-size: 130px;
}
.card-blue h4 {
  padding: 20px 0;
  margin: 15px 0;
  font-weight: bold;
}
@media screen and (min-width: 1450px) {
  .cards-box {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 978px) {
  .industrias {
    margin-top: 50px;
  }
  .industrias .title {
    font-size: 30px;
  }
  .industrias .text {
    text-align: justify;
    font-size: 20px;
  }
  .cards-box {
    margin-bottom: 60px;
  }
}
.distribuidores .distribuidor-1 .posshel,
.distribuidores .distribuidor-2 .rzbc,
.distribuidores .distribuidor-3 .almatis,
.distribuidores .distribuidor-4 .prince,
.distribuidores .distribuidor-5 .glassven {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.distribuidores .distribuidor-1,
.distribuidores .distribuidor-2,
.distribuidores .distribuidor-3,
.distribuidores .distribuidor-4,
.distribuidores .distribuidor-5 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  margin-bottom: 30px;
}
.dist-auth {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-align: center;
  margin: 95px 0;
}
.distribuidores {
  gap: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.distribuidores .distribuidor-1 .posshel {
  margin: auto;
  width: 90px;
  height: 120px;
  background-image: url(../images/brands/new-possehl.png);
}
.distribuidores .distribuidor-2 .rzbc {
  width: 217px;
  height: 116px;
  background-image: url(../images/brands/rzbc-logo.jpg);
}
.distribuidores .distribuidor-3 .almatis {
  width: 240px;
  height: 140px;
  background-image: url(../images/brands/alamatis.jpg);
}
.distribuidores .distribuidor-4 .prince {
  width: 250px;
  height: 118px;
  background-image: url(../images/brands/Prince_Logo.jpg);
}
.distribuidores .distribuidor-5 .glassven {
  width: 240px;
  height: 140px;
  background-image: url(../images/brands/glassven-logo.jpg);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=style.css.map */
