.blue-background{
  height: 900px;
  width: 100%;
  background-image: $background-color;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.vertical-top{
  position: absolute;
  width: 101%;  
  top: -1px;
  z-index: 2;
}

.vertical-bottom{
  position: absolute;
  bottom: -1px;  
  width: 101%;
  z-index: 2;
}

.white-space{
  height: 100px;
}