.blue-background{
  height: 900px;
  width: 100%;
  background-image: $background-color;
  overflow: hidden;
  z-index: 1;
}

.vertical-top{
  position: relative;
  width: 101%;  
  top: -1px;
  z-index: 2;
}