.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/753331-2.jpg");
  height: 95vh;
  // background-size: cover;
  object-fit: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 150px 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  .title {
    margin: 0;
    font-size: $font-size-title;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    font-weight: bold;
  }
  p {
    margin-top: 50px;
    font-size: $font-size-text;
    color: white;
    opacity: 0.9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 978px) {
    .container {
      padding-top: 30px;
    }
    .title {
      margin: $margin-text-mobile;
      font-size: $font-size-title-mobile;
    }
    p {
      margin: $margin-text-mobile;
      text-align: justify;
      font-size: $font-size-text-mobile;
    }
  }
}

.splide__slide {
  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.banner-vertical-bottom {
  position: absolute;
  bottom: -1px;
  width: 101%;
  z-index: 2;
}

.banner-msg {
  opacity: 0;
}
