.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/chemistry-croped-2.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 150px 0;
  overflow: hidden;
  position: relative;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    font-weight: bold;
  }
  p {
    margin-top: 50px;
    font-size: 20px;
    color: white;
    opacity: 0.9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
}

.banner-vertical-bottom {
  position: absolute;
  bottom: -1px;
  width: 101%;
  z-index: 2;
}
