.industrias {
  margin-top: 150px;
  color: white;
  .title-ind {
    text-align: center;
    font-weight: bold;
    font-size: $font-size-title;
  }
  .text {
    margin-top: 40px;
    font-size: $font-size-text;
  }
}

.cards-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.card-blue {
  background-image: $blue-card-background;
  text-align: center;
  width: 383px;
  height: 382px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  border: none;
  color: white;
  .fas {
    padding-top: 50px;
    color: white;
    font-size: 130px;
  }
  h4 {
    padding: 20px 0;
    margin: 15px 0;
    font-weight: bold;
  }
}
@media screen and (min-width: 1450px) {
  .cards-box {
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 978px) {
  .industrias {
    margin-top: 50px;
    .title {
      font-size: $font-size-title-mobile;
    }
    .text {
      font-size: $font-size-text-mobile;
    }
  }
  .cards-box {
    margin-bottom: 60px;
  }
}
