.products{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;

  .card-white{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
  }

  .card{
    text-align: center;    
    width: 384px;
    height: 464px;
    color: $color-wcard;
    
    h4 {
      margin: 15px 0;
      font-weight: bold;
    }
    p {
      margin: 0 7px 0 7px;
      
    }
  }
  @media screen and (max-width: 940px){
    &{
      display: inline;      
    }
    .card{
      width: 100%;              
      margin-bottom: 20px;
    }
    
  }
}

