$font-main: "Poppins", sans-serif;
$color-hover: #1f5eff;
$button-color: #1ea4ee;
$buttom-text-color: white;
$color-font-wcard: rgba(0, 0, 0, 0.7);
$background-color: linear-gradient(
  0deg,
  rgba(38, 110, 166, 0.93) 0%,
  #174a73 100%
);
