%image-shared {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}

.dist-auth {
  font-size: $font-size-title;
  color: $color-font-wcard;
  font-weight: bold;
  text-align: center;
  margin: 95px 0;
}

.distribuidores {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .posshel {
    width: 90px;
    height: 120px;
    background-image: url(../images/brands/new-possehl.png);
    @extend %image-shared;
  }
  .glassven {
    width: 240px;
    height: 140px;
    background-image: url(../images/brands/glassven-logo.jpg);
    @extend %image-shared;
  }
  .almatis {
    width: 240px;
    height: 140px;
    background-image: url(../images/brands/alamatis.jpg);
    @extend %image-shared;
  }
  .prince {
    width: 250px;
    height: 118px;
    background-image: url(../images/brands/Prince_Logo.jpg);
    @extend %image-shared;
  }
  .rzbc {
    width: 217px;
    height: 116px;
    background-image: url(../images/brands/rzbc-logo.jpg);
    @extend %image-shared;
  }
}
