.outter-foot {
  margin-top: 140px;
  margin-bottom: 20px;
  //   width: 870px;
  .inner-foot {
    // margin: auto;
    height: 130;
    display: flex;
    flex-wrap: wrap;
    .logo-box {
      display: flex;
      flex: 1 1 40%;
      .logo-light {
        margin-left: auto;
        width: 225px;
        height: 88px;
      }

      @media screen and (max-width: 750px) {
        .logo-light {
          margin-left: 0;
        }
      }
    }
    .address {
      flex: 1 1 60%;
      font-size: 18px;
      color: white;
      > * {
        margin-bottom: 0;
      }
    }
  }
}
