@import "config";
@import "navbar";
@import "card";
@import "background";
@import "button";
@import "blue-cards";
@import "distribuidores";
@import "footer";
@import "arrows";
@import "banner";
@import "loader";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
}
